In [2]:
x = 5
print(type(x))

<class 'int'>

In [3]:
 x = "Hello World"
 print(type(x))

<class 'str'>

In [4]:
 x = 20.5
 print(type(x))

<class 'float'>

In [5]:
 x = ["apple", "banana", "cherry"]
 print(type(x))

<class 'list'>

In [6]:
 x = ("apple", "banana", "cherry")
 print(type(x))

<class 'tuple'>

In [7]:
 x = {"name" : "John", "age" : 36}
 print(type(x))

<class 'dict'>

In [8]:
 x = True
 print(type(x))

<class 'bool'>

In [17]:
x = 5
x = 5.5,(x)
print(x)

(5.5, 5)

In [19]:
 x = 5.5
 x =5,(x)
 print(x)

(5, 5.5)

In [25]:
 x = "Hello World"
 print(len("Hello World"))

11

In [33]:
 txt = "Hello World"
 x = txt[0]
print(txt[0])

H

In [42]:
 txt = "Hello World"
 print(txt[2:5])

llo

In [48]:
 txt = " Hello World "
 x = txt.replace("H","J")
print(txt.replace("H","J"))

 Jello World

In [55]:
 txt = " Hello World "
 x =txt.strip(" ")
print(txt.strip(" "))

Hello World

In [56]:
 txt = "Hello World"
 txt = txt.upper()
 print(txt.upper())

HELLO WORLD

In [57]:
 txt = "Hello World"
 txt = txt.lower()
 print(txt.lower())

hello world

In [58]:
 age = 36
 txt = f"My name is John, and I am 36"
 print(txt)

My name is John, and I am 36

In [62]:
 print(10 > 9)

True

In [63]:
 print(10 == 9)

False

In [64]:
 print(10 < 9)

False

In [84]:
def print_poem():
    poem = """winkle, twinkle, little star,
  How I wonder what you are!
    Up above the world so high,
    Like a diamond in the sky.
  Twinkle, twinkle, little star,
  How I wonder what you are!"""
    
    print(poem)

print_poem()

winkle, twinkle, little star,
  How I wonder what you are!
    Up above the world so high,
    Like a diamond in the sky.
  Twinkle, twinkle, little star,
  How I wonder what you are!

In [85]:
def main():
    # Read the user's first and last name
    first_name = input("Enter your first name: ")
    last_name = input("Enter your last name: ")
    
    # Reverse the order and print with a space between
    print(f"{last_name} {first_name}")

# Run the main function
main()

Enter your first name: nada
Enter your last name: mamdouh
mamdouh nada

In [92]:
r=1.1
area=3.14 *r**2

In [93]:
filename="abc.py"
f_exts=filename.split(".")
print(f_exts[-1])

py

In [94]:
value = "Amit"
list_value = list(value)
tuple_value = tuple(value)

print(f"String: {value}")
print(f"List: {list_value}")
print(f"Tuple: {tuple_value}")

String: Amit
List: ['A', 'm', 'i', 't']
Tuple: ('A', 'm', 'i', 't')

In [95]:
value = "Amit"
list_value = list(value)
new_value = 'X'  # The new value you want to insert
list_value[3] = new_value
print(f"Updated list: {list_value}")

Updated list: ['A', 'm', 'i', 'X']

In [96]:
value = "Amit"
list_value = list(value)
new_value = 'X'  # The new value you want to insert
list_value[3] = new_value
string_value = ''.join(list_value)
print(f"Updated string: {string_value}")

Updated string: AmiX

In [98]:
color_list = ["Red","Green","White" ,"Black"]
first_color=color_list[0]
last_color=color_list[3]
print(f"First color: {first_color}")
print(f"Last color: {last_color}")

First color: Red
Last color: Black

In [99]:
color_list = ["Red","Green","White" ,"Black"]
first_color=color_list[0]
last_color=color_list[-1]
print(f"First color: {first_color}")
print(f"Last color: {last_color}")

First color: Red
Last color: Black

In [100]:
def check_url_and_email(url, email):
   
    if url.startswith("https://"):
        print("The URL starts with 'https'.")
    else:
        print("The URL does not start with 'https'.")
        
    if email.endswith(".com"):
        print("The email ends with '.com'.")
    else:
        print("The email does not end with '.com'.")
        
url = "https://www.google.com/"
email = "aimt4536@gmail.com"

check_url_and_email(url, email)

The URL starts with 'https'.
The email ends with '.com'.